.card__title {
  max-width: 350px;
  line-height: 24px;
  font-weight: 500;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/heart_bold.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-size: contain;
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    margin-top: 0px;
    padding-top: 0;
  }

  .card__title {
    padding-bottom: 0;
    max-width: 235px;
  }

  .card__like-button {
    padding-bottom: 0;
  }
}
